@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
// -------------------------------------------- base
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #737373;
}
// ----------------------------------- general
.wrapper {
  min-height: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1067px;

  padding: 0 10px;
  margin: 0 auto;
}
body.activemenu {
  overflow: hidden;
  .headermenu {
    left: 2%;
    width: 96%;
    overflow: auto;
    padding: 25px;
    opacity: 1;
  }
  .header__burger {
    background: #eeeeee;
    span {
      &:not(:last-child, :first-child) {
        opacity: 0;
      }
      &:first-child {
        transform: translate(0px, 14px) rotate(45deg);
      }
      &:last-child {
        transform: translate(0px, -13px) rotate(-45deg);
      }
    }
  }
}
// ----------------------------------- header
.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 104px;
    @media (max-width: 769px) {
      min-height: 60px;
    }
  }
  &__logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252b42;

    margin: 5px 5px 5px 0;
    &:not(:last-child) {
      margin-right: 127px;
      @media (max-width: 769px) {
        margin-right: 30px;
      }
    }
  }
  &__menu {}
  .headermenu {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 426px) {
      position: absolute;

      display: block;

      left: -20px;
      top: 60px;
      bottom: 2%;

      background: #eeeeee;

      border-radius: 10px;

      text-align: center;

      width: 0;

      overflow: hidden;

      padding: 0;

      opacity: 0;

      transition: 0.2s;
    }

    li {
      list-style: none;
    }
    a {

      @media (max-width: 426px) {
        display: block;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    &__item {
      font-weight: 600;
      line-height: 171%;
      letter-spacing: 0.2px;
      @media (max-width: 769px) {
        font-size: 16px;
      }
      @media (max-width: 426px) {
        font-size: 20px;
        line-height: 250%;
      }

      padding: 0px 5px;
      &:not(:last-child) {
        margin-right: 11px;
        @media (max-width: 769px) {
          margin-right: 0;
        }
      }
    }
  }
  &__burger {
    flex: 0 0 60px;

    display: none;
    @media (max-width: 426px) {
      display: block;
    }

    background: #fafafa;

    padding: 10px;

    border-radius: 5px;

    span {
      display: block;

      width: 100%;
      height: 2px;

      background: #737373;

      &:not(:last-child) {
        margin-bottom: 7px;
      }

      opacity: 1;

      transition: 0.2s;
    }
  }
}
// ----------------------------------- main
.main {
  flex: 1 0 auto;
  // ----------------------------- elements

  &__welcome {
    margin: 80px 0 0 0;
  }
  // ----------------------------- objects

  .welcome {
    &__container {}
    &__title {
      //styleName: h1;
      font-family: Montserrat;
      font-size: 58px;
      font-weight: 800;
      line-height: 80px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;

    }
    &__text {}
    &__buttons {}
    &__link {}
    &__image {}
  }
}
// ----------------------------------- footer
.footer {}